/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/08/2018, 00:37:13
    Author     : alexs
*/


@media (max-width: 767px) {   
    
    div#piechart{
        width: 100%;
        position: relative;
    }
    
    #nav-icon1 {
        opacity:0.2;
        padding: 10px; 
        width: 100%; 
        height: fit-content;
        text-align: center; 
        background-color: gray; 
        border-radius: 10px;
    }
}

.bread{        
        width:40%; 
        height: 30%; 
        border-radius: 50%;
 }
 
 @media (min-width: 767px){
     div#piechart{
        width: 50%;  
        margin: auto;
    }
 }
 
  